<?xml version="1.0" encoding="UTF-8" ?>
<beans>
  <bean class ="com.bestrookie.com.bestrookie.springframework.dto.CustomClosedEventListener"/>
  <bean class ="com.bestrookie.com.bestrookie.springframework.dto.CustomEventLister"/>
  <bean class ="com.bestrookie.com.bestrookie.springframework.dto.CustomRefreshedEventLister"/>
</beans>